html, body {
  font-size: 1em;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body {
  display: none;
}

#menu-button {
  left: 30px;
  top: 30px;
  width: 50px;
  height: 50px;
  position: fixed;
  background-image: url(../img/menu.png);
  background-color: black;
  opacity: 0.2;
  cursor: pointer;
}

#menu-button:hover {
  opacity: 1;
}

#menu {
  position: fixed;
  left: 0px;
  top: 100px;
  right: 0px;
  width: 100%;
  color: #66ccff;
  text-align: center;
}

#channels-wrap {
  opacity: 0;
}

.channel-wrap {
  margin-bottom: 15px;
}

#vch-slow-button {

}

.slider-button {
  height: 16px;
  width: 16px;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* slow */

.slow-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat 0px 0px;
}

.slow-slider-button:hover {
  background: url(../img/slider-button-skin.png) no-repeat 0px -16px;
}

.slider-wrap:hover > .slow-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat 0px -16px;
}

/* fast */

.fast-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -16px 0px;
}

.fast-slider-button:hover {
  background: url(../img/slider-button-skin.png) no-repeat -16px -16px;
}

.slider-wrap:hover > .fast-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -16px -16px;
}

/* volume down */

.vol-down-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -32px 0px;
}

.vol-down-button:hover {
  background: url(../img/slider-button-skin.png) no-repeat -32px -16px;
}

.slider-wrap:hover > .vol-down-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -32px -16px;
}

/* volume up */

.vol-up-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -48px 0px;
}

.vol-up-button:hover {
  background: url(../img/slider-button-skin.png) no-repeat -48px -16px;
}

.slider-wrap:hover > .vol-up-slider-button {
  background: url(../img/slider-button-skin.png) no-repeat -48px -16px;
}

.ch-playback-button {
  height: 32px;
  width: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.ch-rw-button {
  background: url(../img/channel-playback-skin.png) no-repeat 0px 0px;
}

.ch-rw-button:hover {
  background: url(../img/channel-playback-skin.png) no-repeat 0px -32px;
}

.ch-pause-button {
  background: url(../img/channel-playback-skin.png) no-repeat -32px 0px;
}

.ch-pause-button:hover {
  background: url(../img/channel-playback-skin.png) no-repeat -32px -32px;
}

.ch-play-button {
  background: url(../img/channel-playback-skin.png) no-repeat -64px 0px;
}

.ch-play-button:hover {
  background: url(../img/channel-playback-skin.png) no-repeat -64px -32px;
}

.ch-ff-button {
  background: url(../img/channel-playback-skin.png) no-repeat -96px 0px;
}

.ch-ff-button:hover {
  background: url(../img/channel-playback-skin.png) no-repeat -96px -32px;
}

.ch-download-button {
  background: url(../img/channel-playback-skin.png) no-repeat -128px 0px;
}

.ch-download-button:hover {
  background: url(../img/channel-playback-skin.png) no-repeat -128px -32px;
}

.ch-menu-button {
  width: 140px;
  background-color: #2e2e34;
  text-align: center;
  line-height: 32px;
  height: 32px;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
}

.ch-menu-button:hover {
  background-color: #66ccff;
  color: #2e2e34;
}

#vch-duration-slider {
  display: inline-block;
}

/** Camera image slider settings. */

#back_to_camera {
  background: rgba(255, 255, 255, .9);
  clear: both;
  display: block;
  height: 40px;
  line-height: 40px;
  padding: 20px;
  position: relative;
  z-index: 1;
}

.fluid_container {
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 0;
}

#visual-player {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-bottom: 0 !important;
  position: fixed;
  right: 0;
  top: 0;
}

#pie_0 {
  background-color: #66ccff !important;
}

/*
.camera_bar {
  z-index: 2;
  background-color: #66ccff;
}
*/

.camera_thumbs {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.camera_thumbs_cont {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

/*
.camera_overlayer {
  opacity: 0;
}
*/

/* disable default camera buttons */
.camera_prev {
  display: none !important;
}

.camera_next {
  display: none !important;
}

.social {
  position: fixed;
  width: 100%;
  height: 50px;
  background-color: #2e2e34;
  opacity: 0;
  text-align: center;
  left: 0;
  top: 0;
}

.social-buttons-wrap {
  padding-top: 15px;
  display: inline-block;
}

.fb_iframe_widget span
{
    vertical-align: baseline !important;
}

.button {
    position: relative;
    overflow: visible;
    padding: 0.3em 1em;
    border: 2px solid #fff;
    margin: 0;
    text-decoration: none;
    color: #fff;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    -moz-background-clip: padding;
    background-clip: padding-box; /**/
    zoom: 1;
    display: inline;
    font-weight: bold;
    background-color: rgba(0,0,0,0.3);
    font-family: OpenSans-Light;
}

.button:hover {
  color: #000;
  background-color: #fff;
}

#help-ok-button {
  font-size: 1.5em;
}

.controls-wrap {
  display: inline-block;
  padding-top: 15px;
  float: right;
}

#feedback-button {
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
}

#chat-button {
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
}

#chat-color-input {
  border: solid 1px;
  outline: none;
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.3em 1em;
  border: 2px solid #fff;
  display: inline;
  font-weight: bold;
}

#chat-name-input {
  outline: none;
  margin-right: 10px;
  font-size: 11px;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.3em 1em;
  border: 2px solid #fff;
  display: inline;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0,0,0,0.6);
}


.dialog {
  width: 100%;
  height: 100%;
  opacity: 0.99999;
  background-color: rgba(0,0,0,0.6);
  display:none;
  font-family: OpenSans-Light;
  position: fixed;
  top: 0;
  left: 0;
}

.textbox {
    position: relative;
    overflow: visible;
    padding: 0.3em 1em;
    border: 2px solid #fff;
    margin: 0 0 0.7em 0;
    text-decoration: none;
    font-family: OpenSans-Light;
    font-size: 2em;
    color: #fff;
    white-space: nowrap;
    outline: none;
    -moz-background-clip: padding;
    background-clip: padding-box; /**/
    background: rgba(0, 0, 0, 0);
    zoom: 1;
    display: inline-block;
    font-weight: bold;
    width: 100%;
}

#feedback-dialog .container {
  width: 700px;
  padding: 10em 0;
  margin: 0 auto;
  text-align: center;
}

#contact-form button {
  font-size: 2em;
}

#chat {
  background-color: rgba(0,0,0,0.6);
  width: 60%;
  height: 60%;
  margin: 0 auto;
  position: relative;
  top: 20%;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 4px 0px #555;
  box-shadow: 0 0 4px 0px #555;
}

#chat-text-input {
  margin-top: 5px;
  display: block;
  outline: none;
  margin-right: 10px;
  font-size: 0.9em;
  font-family: sans-serif;
  padding: 0.3em 1em;
  border: none;
  display: inline;
  width: 100%;
  background-color: rgba(0,0,0,0);
}

#chat ul {
  list-style: none;
  font-size: 0.9em;
  max-width: 100%;
  font-family: sans-serif;
}

#chat-list-wrap {
  max-height: 90%;
}