﻿.smartspinner
{
	padding: 0;
	padding: 2px 10px 2px 2px;
	border:solid 1px #afafaf;
	background: url(../img/spinner/normal.jpg) no-repeat right;
	background-color:#f6f6f6;
	text-align:center;
	/*vertical-align:middle;*/
	/*line-height:2;*/
	border-radius:7px;
	-moz-border-radius:7px;
	/*color:#848484;*/
    font-size: 15pt;
	/*font-size:1.0em;*/
	/*font-weight:bold;*/
}
.smartspinner.up
{
	background: url(../img/spinner/up.jpg) no-repeat right;
	background-color:#f6f6f6;
	cursor:pointer;
}
.smartspinner.down
{
	background: url(../img/spinner/down.jpg) no-repeat right;
	background-color:#f6f6f6;
	cursor:pointer;
}
