.slider-wrap {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #2e2e34;
  vertical-align: middle;
  display: inline-block;
}

.slider-wrap:hover {
  background-color: #66ccff;
}

.slider-wrap:hover > .slider > .track,
.slider-wrap:hover > .slider > .dragger {
  background-color: #2e2e34;
}

.slider {
  width: 150px;
  height: 32px;
  vertical-align: middle;
  display: inline-block;
  /*height: 2em;*/
}

.slider:hover {
  background-color: #66ccff;
}

.slider > .dragger {
  background-color: #66ccff;
  width: 6px;
  height: 18px;
}

.slider > .dragger:hover {
  background-color: #2e2e34;
}

.slider > .track {
  height: 6px;
}

.slider > .track:hover {
  background-color: #2e2e34;
  height: 6px;
}

/*Original*/

/*
.slider {
  width: 100px;
}

.slider > .dragger {
  background: #8DCA09;
  background: -webkit-linear-gradient(top, #8DCA09, #72A307);
  background: -moz-linear-gradient(top, #8DCA09, #72A307);
  background: linear-gradient(top, #8DCA09, #72A307);

  -webkit-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  -moz-box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);
  box-shadow: inset 0 2px 2px rgba(255,255,255,0.5), 0 2px 8px rgba(0,0,0,0.2);

  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;

  border: 1px solid #496805;
  width: 16px;
  height: 16px;
}

.slider > .dragger:hover {
  background: -webkit-linear-gradient(top, #8DCA09, #8DCA09);
}


.slider > .track, .slider > .highlight-track {
  background: #ccc;
  background: -webkit-linear-gradient(top, #bbb, #ddd);
  background: -moz-linear-gradient(top, #bbb, #ddd);
  background: linear-gradient(top, #bbb, #ddd);

  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);
  box-shadow: inset 0 2px 4px rgba(0,0,0,0.1);

  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  border: 1px solid #aaa;
  height: 4px;
}

.slider > .highlight-track {
	background-color: #8DCA09;
	background: -webkit-linear-gradient(top, #8DCA09, #72A307);
	background: -moz-linear-gradient(top, #8DCA09, #72A307);
	background: linear-gradient(top, #8DCA09, #72A307);
	
	border-color: #496805;
}

*/
