<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Relax</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{#        <script src="{{ url_for('static', filename='js/3rdlibs/modernizr-2.7.1.min.js') }}"></script>#}
        <script src="https://apis.google.com/js/platform.js" async defer></script>
    </head>
    <body>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=779711478769696";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>

        <!--[if lt IE 8]>
            <p class="browsehappy">You are using an
                <strong>outdated</strong> browser. Please
                <a href="http://browsehappy.com/">upgrade your browser</a>
                to improve your experience.</p>
        <![endif]-->

        <div class="fluid_container">
            <div class="camera_wrap camera_azure_skin" id="visual-player">
{% autoescape false %}
                {{ print_visual_sources() }}
{% endautoescape %}
            </div>
        </div>

        <div class="social">
            <div class="social-buttons-wrap">
                <div class="g-plusone"
                     data-size="medium"
                     data-href="http://slides.relax4u.org"></div>

                <a href="https://twitter.com/share" class="twitter-share-button"
                   data-url="http://slides.relax4u.org">Tweet</a>

                <div class="fb-like"
                     data-href="http://slides.relax4u.org/"
                     data-layout="button_count"
                     data-action="like"
                     data-size="small"
                     data-show-faces="true"
                     data-share="true"></div>
            </div>

            <div class="controls-wrap">
                <a href="javascript:void(0)" id="chat-button" class="button">Chat</a>
                <input id="chat-name-input" placeholder="Your name"/>
                <button id="chat-color-input" class="jscolor" data-jscolor="{onFineChange:'updateChatColor(this)', valueElement:null}">Your color</button>
                <a href="javascript:void(0)" id="feedback-button" class="button">Feedback</a>
            </div>
        </div>

        <div id="menu">
            <div id="channels-wrap">
                <div id="vchannel-wrap" class="channel-wrap">
                    <div id="visual-channels-menu" class="ch-menu-button">{{ cur_visual_channel }}</div>
                    <div id="vch-rw-button" class="ch-playback-button ch-rw-button"></div>
                    <div id="vch-pp-button" class="ch-playback-button ch-pause-button"></div>
                    <div id="vch-ff-button" class="ch-playback-button ch-ff-button"></div>
                    <a id="vch-download-button" href="#" download class="ch-playback-button ch-download-button"></a>
                    <div class="slider-wrap">
                        <div id="vch-slow-button" class="slow-slider-button slider-button"></div>
                        <input id="vch-duration-slider" data-slider="true" type="text"
                               data-slider-step="1"data-slider-snap="true"
                               data-slider-values="2000,3000,4000,5000,6000,7000">
                        <div id="vch-fast-button" class="fast-slider-button slider-button"></div>
                    </div>
                </div>
                <div id="achannel-wrap" class="channel-wrap">
                    <div id="audio-channels-menu" class="ch-menu-button">{{ cur_audio_channel }}</div>
                    <div id="ach-rw-button" class="ch-playback-button ch-rw-button"></div>
                    <div id="ach-pp-button" class="ch-playback-button ch-pause-button"></div>
                    <div id="ach-ff-button" class="ch-playback-button ch-ff-button"></div>
                    <a id="ach-download-button" href download class="ch-playback-button ch-download-button"></a>
                    <div class="slider-wrap">
                        <div id="ach-vol-down-button" class="vol-down-slider-button slider-button"></div>
                        <input id="ach-volume-slider" type="text" data-slider="true"
                                data-slider-range="0,1">
                        <div id="ach-vol-up-button" class="vol-up-slider-button slider-button"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="audio-player-wrap">
            <div id="audio-player" class="jp-jplayer"></div>
        </div>

        <div id="chat">
            <input id="chat-text-input" placeholder="Your input here"/>
            <div id="chat-list-wrap">
                <ul>
                </ul>
            </div>
        </div>

        <div id="slides-help" class="dialog">
            <div style="display: table; text-align: center; color: #fff; width: 100%; height: 100%;">
                <div style="display: table-cell; text-align: center; vertical-align: middle;">
                    <div>
                        <h3>Slides Shortcuts</h3>
                        Play/Pause - Alt+Q<!--, Mouse left click on screen--><br>
                        Next - Right<br>
                        Prev - Left<br>
                        Download - D<br>
                        Fullscreen - F11
                    </div>
                    <div style="margin-bottom: 30px;">
                        <h3>Music Shortcuts</h3>
                        Play/Pause - Ctrl+Space<br>
                        Next - Ctrl+Right<br>
                        Prev - Ctrl+Left<br>
                        Download - Ctrl+D<br>
                        Volume - Mouse wheel
                    </div>
                    <div style="margin-bottom: 30px;">
                        <h3>Chat Shortcuts</h3>
                        Show chat window - Alt+C
                    </div>
                    <a href="#" id="help-ok-button" class="button">Okay</a>
                </div>
            </div>
        </div>

        <div id="feedback-dialog" class="dialog">
          <div class="container">
              <form id="contact-form" action="/feedback/" method="post">
                <input name="name" class="textbox" type="text" placeholder="{{ _("Name") }}" required/><br>
                <input name="email_address" class="textbox" type="email" placeholder="{{ _("E-mail") }}" required/><br>
                <textarea name="message" class="textbox" placeholder="{{ _("Message") }}" required></textarea><br>
                <button type="submit" class="button">{{ _("Send") }}</button>
              </form>
          </div>
        </div>

{#
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js"></script>-->
        <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>-->
        <!--<script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/3rdlibs/jquery-1.10.2.min.js') }}"><\/script>')</script>-->
#}
        <script src="{{ url_for('static', filename='js/plugins.js') }}"></script>

{#        <!--<script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery-1.11.1.min.js') }}"></script>-->#}
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery-1.8.2.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.jplayer.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.ui.position.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.cookie.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.contextMenu.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.simple-slider.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jquery.mousewheel.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/std-extend.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/chat-ws.js') }}"></script>

        <!-- Camera image slider -->
        <!-- fixme: resolve several jquery versions on page -->
{#        <!--<script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/camera/jquery.min.js') }}"></script>-->#}
        <script type="text/javascript" src="{{ url_for('static', filename='js/3rdlibs/camera/jquery.mobile.customized.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/camera/jquery.easing.1.3.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/camera/camera.min.js') }}"></script>
        <script type='text/javascript' src="{{ url_for('static', filename='js/3rdlibs/jscolor.min.js') }}"></script>

        <script src="{{ url_for('static', filename='js/main.js') }}"></script>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

    <script>
//function triggerMenu()
//{
//    var menu = $('#menu');
//    var menuLeft = parseInt(menu.css('left'));
//    var newLeft = menuLeft < 0? 0: -200;
//
//    menu.animate({"left": newLeft + "px"});
//}
//
//function onMenuButtonClick() { triggerMenu(); }

var showOverMenu = false;
function showMenu()
{
    showOverMenu = true;
    var $doc = $(document);
    $doc.mouseenter();
    $doc.mousemove();
}

// Common stuff
function isTouched() { return $.cookie("is-touched") != null; }
function setIsTouched(value)
{
    if (value == null) { value = true; }
    $.cookie("is-touched", value);
}

// Visual channel stuff
function isVChannelPaused() { return !!parseInt($.cookie("visual-channel-playing")); }
function setVChannelPaused(paused) { $.cookie("visual-channel-playing", Number(paused)); }
function getCurVChannel() { return $.cookie("visual-channel"); }
function setCurVChannel(ch) { $.cookie("visual-channel", ch); }
function getCurVItem() { return $.cookie("visual-item"); }
function setCurVItem(item) { return $.cookie("visual-item", item); }
function clearVItem() { $.removeCookie("visual-item", { path: '/' }); }
function getVChDuration()
{
    var duration = $.cookie("visual-channel-duration");
    if (duration == null) { duration = 0; }
    return parseFloat(duration);
}

function setVChDuration(duration) { return $.cookie("visual-channel-duration", Number(duration)); }

function getVChannelCurItem(channelName)
{
    return $.cookie(channelName + "-visual-channel-item");
}

function setVChannelCurItem(channelName, item)
{
    $.cookie(channelName + "-visual-channel-item", item);
}

function getCurVChannelCurItem()
{
    return getVChannelCurItem(getCurVChannel());
}

function setCurVChannelCurItem(item)
{
    if (!item) { item = getCurVItem(); }

    setVChannelCurItem(getCurVChannel(), item);
}

// UI Handlers
// Show visual channels menu
function onVisualChannelsClick(e)
{
    var $label = $(e.target);
    var pos = $label.offset();
    $('#visual-channels-menu').contextMenu(
            {x: pos.left + $label.width(), y: pos.top});
  //$('#visual-channels-menu').trigger("contextmenu");
}

function onVChMenuItemClick(key, options)
{
    if (getCurVChannel() != key)
    {
        setCurVChannel(key);
        clearVItem();
        changeVChannelTo(key);
    }
}

function changeVChannelTo(channelName)
{
    $.ajax({
        url: "channels/visual/" + channelName + "/list"
    }).done(function (data, status, xhr)
    {
        reCreateVisualChannelPlayer(data);
        $('#visual-channels-menu').text(channelName);
    }).fail(function (xhr, status, error)
    {
        alert("Can't change visual channel!");
    })
}

function reCreateVisualChannelPlayer(data)
{
    var $player = $('#visual-player');
    if (isVChannelPaused())
    {
        $player.cameraResume();
        setupVChState(false);
        setVChannelPaused(false);
    }

    $player.cameraStop();
    $player.empty();
    $(data).appendTo($player);
    initVisualChannelPlayer();
}

function onSlideEndTransition()
{
    var cam = $("#visual-player .cameraSlide.cameracurrent");

    if (cam.length != 0 && cam[0].childNodes &&
        cam[0].childNodes.length != 0)
    {
        var curImage = cam[0].childNodes[0].src;
        var token    = "channels/visual/" + getCurVChannel() + "/";
        var i = curImage.indexOf(token);
        var j = curImage.indexOf("?");
        $("#vch-download-button").attr("href", curImage);

        if (i != -1)
        {
            curImage = curImage.substring(i + token.length, j == -1? undefined: j);
            setCurVItem(curImage);
            setCurVChannelCurItem();
        }
    }
}

function setupVChState(pause)
{
    var $btn = $('#vch-pp-button');
    var $cam = $('#visual-player');

    if (pause)
    {
        $btn.removeClass("ch-pause-button");
        $btn.addClass("ch-play-button");
        $cam.cameraPause();
    } else
    {
        $btn.removeClass("ch-play-button");
        $btn.addClass("ch-pause-button");
        $cam.cameraResume();
    }
}

function initVisualChannel()
{
    initVChannelDurationSlider();
    initVisualChannelPlayer();
    initVChannelPlaybackControls();
    //initVisualChannelPlayer();
    initVisualContextMenu();
}

function initVisualChannelPlayer()
{
    $('#visual-player').camera({
        height: 'auto',
        loader: 'bar',
        pagination: false,
        thumbnails: false,
        hover: false,
        opacityOnGrid: false,
        imagePath: '{{ url_for('static', filename="channels/visual/" + cur_visual_channel) }}',
        barPosition: 'bottom',
        navigation: true,
        navigationHover: false,
        playPause: false,
        overlayer: false,
        pauseOnClick: false,
        onEndTransition: onSlideEndTransition, // fixme: Make it on start transaction and take next slide
        time: vSliderValue(), //5000,
        transPeriod: 1200
    });

    if (getCurVChannel() == null)
    {
        setCurVChannel('{{ cur_visual_channel }}');
    }
}

function vSliderValue()
{
    var v = $('#vch-duration-slider').attr("value");
    console.log && console.log("[index.html]: Visual duration value {0}".format(v));
    return 9000 - parseInt(v);
}

function toggleVPlayback(keyb)
{
    var paused = !isVChannelPaused();
    setupVChState(paused);
    setVChannelPaused(paused);

    if (!keyb) { setupMenuHider(); }
}

function initVChannelPlaybackControls()
{

    var $lider = $('#vch-duration-slider');
    function prev(keyb) { $('.camera_prev').click(); if (!keyb) { setupMenuHider(); }}
    function next(keyb) { $('.camera_next').click(); if (!keyb) { setupMenuHider(); }}
    function togglePlayback(keyb) { toggleVPlayback(); }
    function moveVSliderLeft()
    {
        var v = parseInt($lider.attr('value')) - 1000;
        $lider.simpleSlider("setValue", v);
        showMenu();
    }

    function moveVSliderRight()
    {
        var v = parseInt($lider.attr('value')) + 1000;
        $lider.simpleSlider("setValue", v);
        showMenu();
    }

    setupVChState(isVChannelPaused());

    $('#visual-channels-menu').click(onVisualChannelsClick);
    $('#vch-rw-button').click(function() { prev(); });
    $('#vch-ff-button').click(function() { next(); });
    $('#vch-pp-button').click(function() { togglePlayback(); });
    var timer = null;
    $('#vch-slow-button').mousedown(function()
        {
            moveVSliderLeft();
            timer = new Timeout(function () {
                    timer = new Interval(moveVSliderLeft, 40); }, 200);
        });
    $('#vch-slow-button').mouseup(function() {
        if (timer) { timer.clear(); timer = null; } });
    $('#vch-fast-button').mousedown(function()
        {
            moveVSliderRight();
            timer = new Timeout(function () {
                    timer = new Interval(moveVSliderRight, 40); }, 200);
        });
    $('#vch-fast-button').mouseup(function() {
        if (timer) { timer.clear(); timer = null; } });


    $(document).keydown(function(e)
        {
            var handlers = {
                "q": togglePlayback,
                "37": prev,
                "39": next,
                "[": moveVSliderLeft,
                "]": moveVSliderRight
            };

            if (e.keyCode in handlers && !e.ctrlKey)
            {
                handlers[e.keyCode](true);
            }

            if (e.key in handlers)
            {
                if (e.key == 'q')
                {
                    if (e.altKey)
                    {
                        handlers[e.key]();
                    }
                } else {
                    handlers[e.key]();
                }
            }
        });
}

function initVChannelDurationSlider()
{
    var $lider = $('#vch-duration-slider');
    $lider.simpleSlider("setRatio", getVChDuration());
    $lider.bind("slider:changed",
        function (event, data)
        {
            setVChDuration(data.ratio);
            changeVChannelTo(getCurVChannel());
        });
}

function initVisualContextMenu()
{
    $.contextMenu({
        selector: '#visual-channels-menu',
        trigger: 'none',
        callback: onVChMenuItemClick,
//        callback: function(key, options) {
//            var m = "clicked: " + key;
//            window.console && console.log(m) || alert(m);
//        },
{% autoescape false %}
        items: {{ visual_channel_items }}
{% endautoescape %}
    });
}

//////////////////////
// Audio channel stuff
function isAChannelPaused() { return !!parseInt($.cookie("audio-channel-playing")); }
function setAChannelPaused(paused) { $.cookie("audio-channel-playing", Number(paused)); }
function getCurAChannel() { return $.cookie("audio-channel"); }
function setCurAChannel(ch) { $.cookie("audio-channel", ch); }
function getAChVolume()
{
    var vol = $.cookie("audio-channel-volume");
    if (vol == null) { vol = 1; }
    return parseFloat(vol);
}

function setAChVolume(duration) { return $.cookie("audio-channel-volume", Number(duration)); }

function moveCurAChannelTo(direction, onMove)
{
    if (!direction) { direction = "current/" }

    $.ajax({
        url: "channels/audio/" + getCurAChannel() + "/" + direction + "/"
    }).done(function (data, status, xhr)
    {
        var media = JSON.parse(data);
        var $jplayer = $("#audio-player");
        $jplayer.jPlayer("clearMedia");

        if (Object.keys(media).length)
        {
            $jplayer.jPlayer("setMedia", media);
            setupAChState(false);
            setAChannelPaused(false);
            if (onMove) { onMove(media); }
        } else
        {
            // fixme: show error message
        }
    }).fail(function (xhr, status, error)
    {
        alert("Audio channel playback error!");
    })
}

function onAudioChannelsClick(e)
{
    var $label = $(e.target);
    var pos = $label.offset();
    $('#audio-channels-menu').contextMenu(
            {x: pos.left + $label.width(), y: pos.top});
}

function setupAChState(pause)
{
    if (pause === undefined) { pause = isAChannelPaused(); }

    var $btn = $('#ach-pp-button');
    var $jplayer = $('#audio-player');

    if (pause)
    {
        $btn.removeClass("ch-pause-button");
        $btn.addClass("ch-play-button");
        $jplayer.jPlayer("pause");
    } else
    {
        $btn.removeClass("ch-play-button");
        $btn.addClass("ch-pause-button");
        $jplayer.jPlayer("play");
    }
}

function onAChMenuItemClick(key, options)
{
    if (getCurAChannel() != key)
    {
        setCurAChannel(key);
        //clearAItem();

        $.ajax({
            url: "channels/audio/" + key + "/current"
        }).done(function (data, status, xhr)
        {
            var media = JSON.parse(data);
            var $jplayer = $("#audio-player");
            $jplayer.jPlayer("clearMedia");

            if (Object.keys(media).length)
            {
                $jplayer.jPlayer("setMedia", media);
                setupAChState(false);
                $('#audio-channels-menu').text(key)
            } else
            {
                // fixme: show error message
            }
        }).fail(function (xhr, status, error)
        {
            alert("Can't change audio channel!");
        })
    }
}

function initAudioContextMenu()
{
    $.contextMenu({
        selector: '#audio-channels-menu',
        trigger: 'none',
        callback: onAChMenuItemClick,

{% autoescape false %}
        items: {{ audio_channel_items }}
{% endautoescape %}
    });
}

function initAudioChannelPlayer()
{
	$("#audio-player").jPlayer({
		ready: function (event)
            {
{% autoescape false %}
                var media = {{ audio_source }};
{% endautoescape %}
                $(this).jPlayer("setMedia", media);
                //setupAChState(isAChannelPaused());
                setupAChState();
                $("#ach-download-button").attr("href", media.mp3);
            },
        ended: function (event)
            {
                moveCurAChannelTo("next", function (media) {
                    $("#ach-download-button").attr("href", media.mp3);
                });
            },
		swfPath: '{{ url_for('static', filename="misc") }}',
		supplied: "mp3, oga",
		wmode: "window",
		smoothPlayBar: true,
		keyEnabled: true,
		remainingDuration: true,
		toggleDuration: true,
        volume: getAChVolume()
	});

    if (getCurAChannel() == null)
    {
        setCurAChannel("{{ cur_audio_channel }}");
    }
}

function toggleAPlayback(keyb)
{
    var paused = !isAChannelPaused();
    setupAChState(paused);
    setAChannelPaused(paused);

    if (!keyb) { setupMenuHider(); }
}

function moveASliderLeft(distance, $lider)
{
    if ($lider == null) { $lider = $('#ach-volume-slider'); }
    if (distance == null) { distance = 0.05; }

    var v = parseFloat($lider.attr('value')) - distance;
    $lider.simpleSlider("setValue", v);
    showMenu();
}

function moveASliderRight(distance, $lider)
{
    if ($lider == null) { $lider = $('#ach-volume-slider'); }
    if (distance == null) { distance = 0.05; }

    var v = parseFloat($lider.attr('value')) + distance;
    $lider.simpleSlider("setValue", v);
    showMenu();
}

function initAChannelPlaybackControls()
{
    var $lider = $('#ach-volume-slider');
    function move(direction, keyb)
    {
        moveCurAChannelTo(direction, function (media) {
            $("#ach-download-button").attr("href", media.mp3);
        });

        if (!keyb) { setupMenuHider(); }
    }

    function prev(keyb) { move("prev", keyb); }
    function next(keyb) { move("next", keyb); }
    function togglePlayback(keyb) { toggleAPlayback(); }

    $('#audio-channels-menu').click(onAudioChannelsClick);
    $('#ach-rw-button').click(function() { prev(); });
    $('#ach-ff-button').click(function() { next(); });
    $('#ach-pp-button').click(function() { togglePlayback(); });

    var timer = null;
    $('#ach-vol-down-button').mousedown(function()
        {
            moveASliderLeft();
            timer = new Timeout(function () {
                    timer = new Interval(moveASliderLeft, 40); }, 200);
        });
    $('#ach-vol-down-button').mouseup(function() {
        if (timer) { timer.clear(); timer = null; } });
    $('#ach-vol-up-button').mousedown(function()
        {
            moveASliderRight();
            timer = new Timeout(function () {
                    timer = new Interval(moveASliderRight, 40); }, 200);
        });
    $('#ach-vol-up-button').mouseup(function() {
        if (timer) { timer.clear(); timer = null; } });

    $(document).keydown(function(e)
        {
            var ctrlHandlers = {
                "32": togglePlayback,
                "37": prev,
                "39": next
            };

            var handlers = {
                "188": moveASliderLeft,
                "190": moveASliderRight
            };

            if (e.keyCode in ctrlHandlers && e.ctrlKey)
            {
                ctrlHandlers[e.keyCode](true);
            }
            if (e.keyCode in handlers)
            {
                handlers[e.keyCode]();
            }
        });

    initAChannelDurationSlider();
}

function initAChannelDurationSlider()
{
    var $lider = $('#ach-volume-slider');
    $lider.simpleSlider("setRatio", getAChVolume());
    $lider.bind("slider:changed",
        function (event, data)
        {
            setAChVolume(data.ratio);
            var $jplayer = $("#audio-player");
            $jplayer.jPlayer("volume", data.ratio);
        });
}

function initAudioChannel()
{
    initAudioChannelPlayer();
    initAChannelPlaybackControls();
    initAudioContextMenu();
}

///////
// Menu

var menuHiderTimer = 0;
function setupMenuHider()
{
{#    console.log("setupMenuHider()");#}
{#    console.trace();#}

    if (menuHiderTimer)
    {
        clearTimeout(menuHiderTimer);
        //console.log && console.log("[index.html]: Clear timer {0}".format(menuHiderTimer));
        menuHiderTimer = 0;
    }

    if ($('html').css('cursor') == 'none')
    {
        $('html').css({cursor: ''});
        $(document).mouseenter();
    }

    menuHiderTimer = setTimeout(function ()
    {
        $('html').css({cursor: 'none'});
        $(document).mouseleave();
        hideSocial();
        showOverMenu = false;
    }, 7000);

    //console.log && console.log("[index.html]: New timer {0}".format(menuHiderTimer));
}

function initCursorHider()
{
    $(document).mousemove(setupMenuHider);
}

function hideSocial($ocial)
{
    if ($ocial == null) { $ocial = $(".social"); }

    $ocial.stop(true, true);
    $ocial.animate({opacity: 0},
        {queue: false, duration: 200});
}

function initHelpScreen()
{
    if (!isTouched())
    {
        setIsTouched();

        var $doc = $(document);
        function onDocKeydown(e)
        {
            if (e.keyCode == "13") { $help.hide(); }
            $doc.unbind("keydown", onDocKeydown);
        }

        var $help = $("#slides-help");
        $("#help-ok-button").click(function(e)
            {
                $help.fadeOut('slow');
                $doc.unbind("keydown", onDocKeydown);
            });
        $doc.keydown(onDocKeydown);
        $help.show();
    }
}

/////////////
// Chat stuff
function initChatControls()
{
    $(document).keydown(function(e)
        {
            var handlers = {
                "c": function () { $('#chat-button').click(); },
            };

            if (e.key in handlers && e.altKey)
            {
                handlers[e.key]();
            }
        });
}

function getChatColor()
{
    var chatColor = $.cookie('chat-color');
    if (!chatColor) { chatColor = '#ffffff'; }

    return chatColor;
}

function setChatColor(color) { $.cookie('chat-color', color); }
function setupChatColor() {
    var $chatTextInput = $('#chat-text-input');
    $chatTextInput.css('color', getChatColor());
}
function updateChatColor(picker) {
    setChatColor(picker.toHEXString());
    setupChatColor();
}

function getChatName()
{
    var chatName = $.cookie('chat-name');
    if (!chatName) { chatName = 'No name'; }

    return chatName;
}
function setChatName(name) { $.cookie('chat-name', name); }

function isChatEnabled() { return parseBool($.cookie("is-chat-enabled")); }
function setIsChatEnabled(value)
{
    if (value == null) { value = true; }
    $.cookie("is-chat-enabled", value);
}
function setupChatWindow() {
    var $chat = $('#chat');
    var $chatButton = $('#chat-button');
    var enabled = isChatEnabled();
    if (enabled)  {
        $chat.show();
        $('#chat-text-input').focus();
    } else {
        $chat.hide();
    }
    $chatButton.css('background-color', enabled? '#fff': '');
    $chatButton.css('color', enabled? '#000': '');
}

function getChatId()
{
    var chatId = $.cookie('chat-id');
    if (!chatId)
    {
        chatId = Math.random().toString(36).substring(8);
        $.cookie('chat-id', chatId);
    }

    return chatId;
}

// Chat WebSocket
function addMessageToChat(message)
{
    var $chatList = $('#chat ul');
    var msg = JSON.parse(message);
    $('<li style="color:{0};">{1}: {2}</li>'.format(msg['color'], msg['name'], msg['text'])).appendTo($chatList);

    var $chatListWrap = $('#chat-list-wrap');

    if ($chatList.height() > $chatListWrap.height())
    {
        var $li = $('#chat ul li:first-child');
        $li.remove();
    }
}

function onOpen() { console.log("Chat ws opened"); }
function onClose() { console.log("Chat ws closed"); }

function onError() { console.error("Chat ws error"); }
function onMessage(message) { console.log("Chat ws message", message.data); addMessageToChat(message.data) }


// Ready
jQuery(function ($)
{
    $.cookie.raw = true;

    //$('#menu-button').click(onMenuButtonClick);
    initHelpScreen();
    initVisualChannel();
    initAudioChannel();
    initCursorHider();
    initChatControls();

    var $menu = $('#channels-wrap');
    var $doc = $(document);
    var $ocial = $(".social");
    var $feedback_button = $("#feedback-button");
    var $feedback_dialog = $('#feedback-dialog');
    var overMenu = false;
    var $contact_form = $("#contact-form");
    var $chatColorInput = $('#chat-color-input');
    var $chatNameInput = $('#chat-name-input');
    var $chatButton = $('#chat-button');
    var $chatTextInput = $('#chat-text-input');

    setupChatColor();
    $chatColorInput.css('background-color');
    $chatColorInput.attr('data-jscolor', "{onFineChange:'updateChatColor(this)', valueElement:null, value:'{0}'}".format(getChatColor()));

    $chatNameInput.val(getChatName());
    $chatNameInput.change(function() {
       setChatName($chatNameInput.val());
    });

    setupChatWindow();
    $chatButton.click(function() {
        setIsChatEnabled(!isChatEnabled());
        setupChatWindow();
    });

    var ws = new ChatWebSocket(onOpen, onMessage, onClose, onError);

    $chatTextInput.change(function() {
        var text = $chatTextInput.val();
        if (text != '')
        {
            $chatTextInput.val('');
            var message = {id: getChatId(), name: getChatName(), color: getChatColor(), text: text};
            ws.send(message);
        }
    });

    $('body').fadeIn('slow');
    $feedback_dialog.click(function() { $feedback_dialog.fadeOut('slow'); });
    $feedback_button.click(function() { $feedback_dialog.fadeIn('slow'); });
    $('#feedback-dialog .container').click(function(e) { e.stopPropagation(); });

    $contact_form.submit(function() {
        $.post($(this).attr('action'), $(this).serialize(),
              function(data, status, xhr) {
                  $contact_form[0].reset();
{#                alertify.success(data);#}
              }).fail(function(xhr, status, error) {
                  alert('Sorry, an error occurred!')
{#                alertify.error(xhr.responseText);#}
              });

        $feedback_dialog.click();
        return false;
    });

    $doc.mouseenter(function onDocMouseOver()
        {
            console.log("Mouse enter");
            $menu.stop(true, true);
            $menu.animate({opacity: overMenu || showOverMenu? 1: 0.3},
                {queue: false, duration: 200});
        });
    $doc.mouseleave(function onDocMouseOut()
        {
            console.log("Mouse leave");
            $menu.stop(true, true);
            $menu.animate({opacity: 0});
        });

    $menu.mouseenter(function onMenuMouseOver()
        {
            console.log("Menu mouse enter");
            $menu.stop(true, true);
            $menu.animate({opacity: 1}, {duration: 200});
            overMenu = true;
        });
    $menu.mouseleave(function onMenuMouseOut()
        {
            console.log("Menu mouse leave");
            $menu.stop(true, true);
            $menu.animate({opacity: 0.3});
            overMenu = false;
        });
    $menu.mousedown(function onMenuMouseDown(e) { e.stopPropagation(); });

//    $doc.mousedown(function onDocMouseDown(e)
//        {
//            if (e.button == 0)
//            {
//                if (e.ctrlKey) { toggleAPlayback(); } else { toggleVPlayback(); }
//            }
//        });
    $doc.mousewheel(function onDocMouseWheel(e)
        {
            if (e.deltaY > 0) { moveASliderRight(0.1); } else { moveASliderLeft(0.1); }
        });

    $ocial.mouseenter(function onSocialMouseOver()
        {
            $ocial.stop(true, true);
            $ocial.animate({opacity: 0.9},
                {queue: false, duration: 200});
        });
    $ocial.mouseleave(function onSocialMouseOut() { hideSocial($ocial); });

    $doc.mouseenter();
    $doc.mousemove();
});

	</script>

    {% include "blocks/google-analytics.html" %}
    </body>
</html>
